.hero-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d') no-repeat center center;
    background-size: cover;
    height: 90vh;
  }
  